/* GLOBAL */
html, body {
    cursor:none !important;
}
body {
    font-family: 'Luckiest Guy';
    color: #eee;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container {
    position: relative;
    width: 90%;
    max-width: 750px;
    height: 395px;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 15px #000000;
    background:rgba(24, 26, 31, 0.5);
}
.sub-container {
    height: 330px;
    display: flex;
    gap: 5%;
    padding: 10px;
    align-items: stretch;
}
.main-title {
    font-size: 16pt;
    margin-bottom: 5px;
}
.bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}
.label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: 'Luckiest Guy';
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.label:hover {
    background: rgba(0, 0, 0, 0.65);
}
.slideshow-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 190, 0, 0.45);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.simple-keyboard {
    color: black;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* MAP POPUP */
#map-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: 0.3s ease;
}
#full-map {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.map-hidden {
    opacity: 0;
    transition: 0.3s ease;
    visibility: hidden;
    pointer-events: none;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    font-weight: bold;
    background: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1001;
}
.close-button:hover {
    color: #ccc;
}

/* RIGHT PANE */
.right-sub-container {
    position: relative;
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.mini-box-row {
    height: 100px;
    width: 100%;
    display: flex;
    gap: 3%;
    padding: 10px;
    align-items: stretch;
}
.mini-box {
    width: 30%;
    height: 100px;
    background: rgba(0, 204, 82, 0.45);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.drop-spot-name {
    font-family: Karla;
    font-size: 10pt;
}
.mini-box-long {
    width: 65%;
    height: 100px;
    background: rgba(0, 130, 255, 0.45);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.stat-box-row {
    height: 50px;
    width: 100%;
    display: flex;
    gap: 3%;
    padding: 0;
    margin: 0;
    align-items: stretch;
}
.stat-box-left {
    width: 65%;
    height: 50px;
    text-align: left;
    padding-left: 20px;
}
.stat-box-right {
    width: 16%;
    height: 50px;
    text-align: center;
}
#stats-title {
    margin-bottom: 0;
    height: 5px;
}
.username-button {
    font-family: 'Karla';
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 9pt;
    font-weight: bold;
    margin: 14px 0 5px 0;
    height: 23px;
    background: transparent;
    cursor: pointer;
}
.username-button:hover {
    background: rgba(255, 255, 255, 0.25)
}
.username-button-hidden {
    display: none;
}
.username-entry {
    font-family: 'Karla';
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 9pt;
    font-weight: bold;
    margin: 14px 0 5px 0;
    height: 19px;
    background: transparent;
    cursor: pointer;
}
.username-entry-hidden {
    display: none;
}
.username-entry::placeholder {
    color: white;
    opacity: 0.5;
}
.stat-label {
    font-family: 'Karla';
    font-size: 9pt;
    margin: 0 0 2px 0;
}
.stat {
    font-family: 'Karla';
    font-size: 9pt;
    font-weight: bold;
    margin: 0 0 2px 0;
}
.slideshow2-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(145, 70, 255, 0.45);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
    font-size: 16pt;
}
.scrollable-pane {
    width: 385px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
}
.shop-skins-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.shop-skin-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 6.5px;
    font-family: 'Karla';
    font-size: 9pt;
    color: white;
    width: 100px;
    height: 130px;
    flex-shrink: 0;
}
.shop-skin-card img {
    width: 100%;
    margin-bottom: 0px;
}

/* LEFT PANE */
.left-sub-container {
    position: relative;
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.date-time {
    display: flex;
    gap: 7px;
    font-size: 10pt;
    font-family: 'Karla';
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
}
.left-arrow, .right-arrow  {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    background: rgba(57, 57, 57, 0.35);
    color: white;
    border: none;
    border-radius: 8px;
    width: 30px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    pointer-events: auto;
    opacity: 1;
}
.right-arrow { 
    left: 35.5%;
}
.left-arrow {
    left: 3%;
}
.right-arrow:hover, .left-arrow:hover {
    background-color: rgba(57, 57, 57, 0.5);
    border-radius: 8px;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
.skin-slideshow {
    width: 100%;
    height: 100%;
    position: relative;
}
.skin-slide {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
.skin-slide.active {
    display: block;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}
.skin-display {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 3px;
}
.daily-skin {
    max-height: 85%;
    object-fit: contain;
    border-radius: 8px;
    display: block;
    margin: 0;
}
.slide-title {
    font-family: 'Luckiest Guy';
    font-size: 16pt;
}
.slide-body {
    font-family: 'Karla';
    font-size: 11pt;
}
.skin-title {
    padding-top: 10px;
    font-family: 'Luckiest Guy';
    font-size: 14pt;
    margin: 0 0 4px 0;
    text-align: center;
}
.skin-name {
    font-family: 'Karla';
    font-size: 11pt;
    margin: 5px;
    text-align: center;
}
.skin-description {
    font-family: 'Karla';
    font-size: 11pt;
    margin: 7px;
    margin-left: 25px;
    text-align: left;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .sub-container {
        flex-direction: column;
        gap: 20px;
    }

    .left-sub-container,
    .right-sub-container {
        flex: 1 1 100%;
    }
}
